/* #region Customizing A Scrollbar Design */
/*^========> Customize Scrollbar <========*/
::-webkit-scrollbar {
    background: #000;
    /* border-left: 100px solid #eee; */
    width: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 6px 5px #eeeeee8c inset;
    border-radius: 20px;
}

/* #endregion */

/* #region shared style */

html {
    font-size: 16px;
}

body {
    background-color: #f5f5f5;
    color: var(--bs-body-color);
    font-weight: var(--bs-body-font-weight);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e1e1e;
}


/* #region section title */
.title-box-2 {
    text-align: center;
    width: fit-content;
    margin: auto;
    position: relative;
    padding-bottom: 1px;
}

.title-box-2::after {
    content: "";
    width: 50px;
    transform: translateX(-50%);
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    top: 100%;
}

.title-box-2 h2 {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
}

.title-box-2 h2::before {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    font-size: calc(3rem + 3vw);
    z-index: -1;
}

@media (width < 500px) {
    .title-box-2 {
        padding-bottom: 20px;
    }

    .title-box-2 h2 {

        margin-bottom: 15px;
    }

    .title-box-2 p {
        max-width: 60%;
        margin: auto;
    }

}

/* #endregion */

/* #endregion */

/* #region variables */
:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --main-color: #0078ff;
    --section-padding: 6rem;

    --bs-body-color: #4e4e4e;
    --bs-body-font-weight: 400;

    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    scroll-padding-top: 72px;
}

/* #endregion */

/* #region Custom utilies classes */
.text-main-color {
    color: #0078ff;
}

.fw-900 {
    font-weight: 900;
}

.ls-widest {
    letter-spacing: 0.1em;
}

.title-s {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}


.sect-pt {
    padding-top: 3rem;
}

.w-fit {
    width: fit-content;
}

.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
    .box-shadow-full {
        padding: 3rem;
    }
}

.title-box-1 {
    margin-bottom: 3rem;
}

.title-box-2 {
    margin-bottom: 3rem;
}

.text-justify {
    text-align: justify;
}




.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    transition: all 500ms ease;
}






.card-shadow {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}


.bg-img {

    background-image: linear-gradient(rgba(0, 120, 255, 0.7), rgba(0, 120, 255, 0.7)), url(../images/counters-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

/* #endregion */






/* ! Done */
/* #region navbar */
.navbar .navbar-brand {
    font-size: 2rem;
}

.navbar .navbar-nav>li>a {
    font-weight: 600;
    color: white;
}

/* #region  underline of nav-links */
@media (min-width: 991px) {

    .navbar .navbar-nav>li {
        position: relative;
        /* background-color: tomato; */
        padding-inline: 3px;
    }

    .navbar .navbar-nav>li>a::before {
        content: "";
        width: 0%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 10px;
        top: 100%;

        transition: width 0.5s;
    }

    .navbar .navbar-nav>li>a.active::before,
    .navbar .navbar-nav>li>a.show::before,
    .navbar .navbar-nav>li>a:hover::before {
        width: 60%;
    }
}





/* #endregion */

.navbar li.nav-item:hover>ul.dropdown-menu,
.navbar li.nav-item>ul.dropdown-menu>li.dropdown:hover ul.dropdown-menu {
    display: block;
    top: calc(100% + 2px);
    width: fit-content;
    position: absolute;
}

.navbar li.nav-item>ul.dropdown-menu>li.dropdown:hover ul.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100% !important;
    width: fit-content;
}

/* #endregion */
/* ! Done */
/* #region home */
.home {
    min-height: 100dvh;

    background-image: url(../images/hero-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    background-color: rgba(0, 0, 0, 0.5);

    background-blend-mode: overlay;

    display: flex;
    align-items: center;
    text-align: center;

    color: white;
    /* scroll-padding-top: 20px; */

}

/* #endregion */
/* ! Done */
/* #region about */

.about .img-frame {
    margin-bottom: 2rem;
}

.about .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}

@media (min-width: 1200px) {
    .about .skills {
        padding-right: 3rem;
    }
}

.about .main-title {
    font-size: 2rem;
    position: relative;
}

.about .main-title::before {
    content: "";
    position: absolute;
    bottom: -12px;

    background-color: var(--main-color);
    width: 100px;
    height: 3px;
}

/* #endregion */
/* ! Done */
/* #region services */
.services {
    /* height: 100vh; */
}


@media (width > 500px) {
    .services .title-box-2 h2::before {
        content: "SERVICES";
    }
}

.services .card .card-icon .ico-circle i {
    line-height: 0;
    font-size: 40px;
}



.services .card:hover .card-icon .ico-circle {
    color: #fff;
    background-color: var(--main-color);
    box-shadow: 0 0 0 10px #cde1f8;

}

.services .card .card-icon {
    margin-bottom: 1rem;
    color: #1e1e1e;
    text-align: center;
}


.services .card .card-text h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
}

.services .card .card-text p {
    text-align: center;
    color: #4e4e4e;

}

.services .card {
    background-color: #fff;
    padding: 2.5rem 1.3rem 1rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;

}

/* #endregion */

/* #region counter section */
.counter {
    padding: 8rem 0rem;
}

@media (width < 992px) {

    .counter {
        padding-bottom: 0;
    }
}

.counter .inner {
    color: white;
    text-align: center;
}

.counter .inner .counter-icon .ico-circle {
    background-color: transparent;
    box-shadow: 0 0 0 10px #cde1f8;

    height: 60px;
    width: 60px;
    line-height: 1.5;
    margin-bottom: 20px;

}

.counter .inner .counter-text span {
    font-size: 2rem;
    margin-bottom: 0;
}

/* #endregion */



/* #region portfolio */
.portfolio {
    height: 100vh;
}

.portfolio .title .main-title::before {
    content: "portfolio";
}

/* #endregion */

/* #region blog */
.blog {
    height: 100vh;
}

.blog .title .main-title::before {
    content: "blog";
}

/* #endregion */
